* {
    box-sizing: border-box;
}

::selection {
    background-color: hsl(246, 80%, 60%);
    color: white;
}

html {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(226, 43%, 10%);
    font-size: 18px;
}

p {
    margin: 0rem 0rem;
    padding: 0rem;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    min-height: 150vh;
    justify-content: center;
    transition: 0.3s;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.userCardBg {
    background-color: hsl(235, 46%, 20%);
    width: 18rem;
    border-radius: 20px;
    margin-top: 4rem;
    display: flex;
    position: relative;
    padding: 1.5rem 1rem;
    margin-bottom: 8.5rem;
    
   
}

.userContent {
    background-color: hsl(246, 80%, 60%);
    border-radius: 20px;
    position: absolute;
    z-index: 10;
    width: 18rem;
    left: 0rem;
    top: 0rem;
    display: flex;
    padding: 1.5rem 1rem;
    
}

.avatar img {
    width: 4rem;
    border: 3px solid white;
    border-radius: 100px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    
}

.userInfoTitle {
    color: rgba(255, 255, 255, 0.705);
    font-size: .75rem;
    padding-bottom: .25rem;
}

.userName {
    color: rgba(255, 255, 255, 0.952);
    font-size: 1.2rem;
    font-weight: 300;
}

.timeSelect {
    position: absolute;
    background-color: hsl(235, 46%, 20%);
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 18rem;
    height: 9rem;
    align-items: flex-end;
    z-index: 1;
    border-radius: 20px;
    color:hsl(235, 45%, 61%);
    padding-bottom: 1rem;
}

.timeSelect ul {
    display: flex;
}

.timeSelect li {
    padding: 0 1rem;
}


.hrsCardBG {
    background-color: hsl(15, 100%, 70%);
    background-image: url(images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: right 5px top -10px;
    margin-bottom: 2.5rem;
    width: 18rem;
    border-radius: 20px;
    position: relative;
    z-index: -1;
    
}

.play {
    background-color: hsl(195, 74%, 62%);
    background-image: url(images/icon-play.svg);
}

.study {
    background-color: hsl(348, 100%, 68%);
    background-image: url(images/icon-study.svg);
}

.exercise {
    background-color: hsl(145, 58%, 55%);
    background-image: url(images/icon-exercise.svg);
}

.social {
    background-color: hsl(264, 64%, 52%);
    background-image: url(images/icon-social.svg);
}

.self-care {
    background-color: hsl(43, 84%, 65%);
    background-image: url(images/icon-self-care.svg);
}

.hrsCard {
    background-color: hsl(235, 46%, 20%);
    position: relative;
    top:1.5rem;
    z-index: 1;
    width: 18rem;
    border-radius: 20px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.topCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
    
}

.hrsTitle {
    font-size: 1rem;
    font-weight: 500;
}

.hrs {
    padding-top: .5rem;
    font-size: 2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.842);
}

.bottomCard {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.previousPeriod {
    display: flex;
    font-size: .8rem;
    color: hsl(236, 100%, 87%)
}

.miniSelector {
    padding-bottom: .2rem;
}

@media only screen and (min-width: 480px) {

    .container {
        flex-direction: row;
        margin: 0 5rem;
        /*margin-top: 10rem;*/
        align-items: flex-start;
        justify-content: center;
    }

    .leftSide {
        margin-right: 2rem;
        height: 25rem;
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        height: 25rem;
        justify-content: space-between;
    }

    .top, .bottom {
        display: flex;
    }

    .bottom {
    }

    .userCardBg {
        height: 25rem;
        width: 14rem;
        margin-top: 0rem;
       
    }

    .userContent {
        width: 14rem;
        height: 16rem;
        flex-direction: column;
        padding-left: 1rem;
    }

    .userInfo {
        margin-top: 2rem;
    }

    .userName {
        font-size: 2.4rem;
        font-weight: 100;
    }

    .avatar {
        padding-left: 1rem;
    }

    .timeSelect {
        width: 14rem;
        top: 16rem;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .timeSelect ul {
        flex-direction: column; 
    }

    .timeSelect li {
        padding-top: 1rem;
        cursor: pointer;
    }

    .timeSelect li.active {
        color: white;
    }

    section {
        margin-right: 1.5rem;
    }

    .hrsCardBG {
        height: 9rem;
        width: 15rem;
    }

    .hrsCard {
        height: 9rem;
        width: 15rem;
        top: 2.5rem;
    }

    .bottomCard {
        flex-direction: column;
        align-items: flex-start;
    }

    .hrs {
        font-size: 3rem;
        padding-bottom: 1rem;
    }

}







  
